extends layout

block content
  h1='Users List'
  .container
    a(href='/logout')='Exit'
    a(href='/register')='Register User'
    table
      thead
        tr
          th='Name'
          th='Email'
      tbody
        if (users.length > 0)
          each user in users
            tr
              td=user.name
              td=user.email